body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(14, 24, 71);
    color: white;
}

nav {
    background-color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a { 
    color: rgb(185, 86, 5);
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.5rem;

}

nav a:hover{
    color: rgb(183, 142, 79);
}

header h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(253, 196, 89);
}

#search{   
    display: block;
    margin: 10px auto 30px auto;
    padding: 8px;
    border-radius: 5px;
    border:none;
    width: 50%;
}

.card {
    background-color: rgb(24, 42, 107);
    border-radius: 10px;
    margin: 20px auto;
    padding: 10 px;
    text-align: center;

}

.card h3 {
    color: rgb(244, 187, 83);
    margin-top: 10px;
}

.card h2 {
    color: rgb(243, 241, 238);
    font-size: 1rem;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card a{
    color: rgb(28, 9, 127);
    background-color: rgb(255, 206, 115);
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.card a:hover {
    background-color: rgb(240, 208, 150);
}

.details, .about, .form{
    background-color: rgb(32, 43, 80);
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.details img, .about img{
    float: right;
    display: block;
    margin: 15 px auto;
    max-width: 400px;
    border-radius: 8px;
}

form label {
    font-weight: bold;
    margin-top: 10px;
}

form input, form textarea{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}

form input [type="submit"]{
    background-color: rgb(206, 164, 64);
    color: rgb(38, 45, 107);
    font-weight: bold;
    cursor:pointer;
    
}
 
form input[type="submit"]:hover {
    background-color: rgb(204, 165, 94);
}

blockquote {
    background-color:rgb(0, 0, 0);
    font-style: italic;
    margin-left: 40px;
    padding: 15px;
    border-left: 4px solid #6f440f;
}

